# Cache objects
packer_cache/


.DS_Store
# Crash log
crash.log

# For built boxes
*.box

# pycache
__pycache__/

# data images
denoise_image/dirty-documents/

# detrack features.csv
features.csv

# model
model.pickle

# cleaned image
output.png

# node modules
front_end/node_modules/
front_end/package-lock.json
